:root {
  --primary-color: #c51350;
  --secondary-color: #e8751a;
  --accent-color: #8a1253;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Dancing Script", cursive;
  --default-font-family: "Playfair Display", serif;
}
body {
  background: #eef4ed;
}
h1 {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
  display: block;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  color: var(--secondary-color);
}
h3 {
  font-family: var(--heading-font-family);
  font-size: 35px;
  color: var(--accent-color);
}
p {
  font-family: var(--default-font-family);
  color: var(--accent-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: #4169e1;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--accent-color);
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  color: var(--accent-color);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.btn-branding {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.about-paragraphs p {
  margin: 10px;
}

.about-paragraphs {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}
.email-link:hover {
  color: #d59bf6;
}

a:visited {
  color: orange;
}
